body{
    background-color: white;
    color: 	#C1666B;
}
.main-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.question-container{
    font-size: 2.25rem;
}

.answer-container{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
}

.answer-container label{
    padding: 0 .5em;
}

.answer-container button{
    
    border-radius: 10%;
    padding: .5rem 1.25rem;
    font-size: .8em;
    color: #E7DFC6;
    background-color: #DC758F;
    border: solid #DC758F 2px ;
}

.answer-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.answer-container button:active{
    transform: scale(96%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.enter.hide, .again.hide, .ans.hide{
    display: none;
}